In [1]:
import pandas as pd

In [2]:
ticker = pd.read_parquet('./BTCUSDT-bookTicker-2023-10-01.p')

In [3]:
ticker

                    ts       bp      bv       ap      av        mp
0        1696118400003  26950.9   8.285  26951.0  15.869  26950.95
1        1696118400006  26950.9   8.285  26951.0  15.862  26950.95
2        1696118400010  26950.9   8.285  26951.0  15.855  26950.95
3        1696118400019  26950.9   8.285  26951.0  15.911  26950.95
4        1696118400035  26950.9   8.218  26951.0  15.911  26950.95
...                ...      ...     ...      ...     ...       ...
5540991  1696204799942  27981.3  12.309  27981.4   7.393  27981.35
5540992  1696204799950  27981.3  12.309  27981.4   7.393  27981.35
5540993  1696204799952  27981.3  12.309  27981.4   7.368  27981.35
5540994  1696204799958  27981.3  12.309  27981.4   7.258  27981.35
5540995  1696204799967  27981.3  12.910  27981.4   7.258  27981.35

[5540996 rows x 6 columns]

How price jumps:

In [8]:
ticker.bp.diff().ne(0).mean()

np.float64(0.017404452195958993)

In [7]:
ticker.ap.diff().ne(0).mean()

np.float64(0.01744541955994915)

In [6]:
ticker.mp.diff().ne(0).mean()

np.float64(0.02167209649673091)